<!-- Page Header -->
<div id="header" class="centre">
  <h1>Rail Runner!</h1>

  <h3>(Do you get it? It's because we run on the Rails Framework. lol. classic.)</h3>
  <h5>*drop mic*</h5>
</div>

<!-- Game Console -->
<div id="game_console">
  <!-- WebGL Target Canvas -->
  <canvas id="game_canvas" class="centre">
  </canvas>
</div>

<!-- Page Footer -->
<div id="footer" class="centre">
  <p>
    Rail Runner is the Intellectual Property of Mary-Wynn Rogers.
  </p>
  <p>
    This was a labor of love and study.
  </p>
  <p>
    While this site runs on Rails(lol), its programmers run entirely on greasy omelets and bacon.
    Please don't steal our hard work without at least mentioning us.
  </p>
</div>